<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="methods" thread-count="4">

<listeners>
    <listener class-name="ReuseableComponents.Listeners"/>
</listeners>

  <test name="testng">
    <classes>
      <class name="Test_Framework.Ecommerce_framework.etest1"/>
        
    </classes>
  </test>

<!--    <test name="ErrorValidation">
    <classes>
      <class name="Test_Framework.Ecommerce_framework.ErrorValidation"/>
    </classes>
  </test>-->

</suite>

